<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Data API</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lookup/IndustryType">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Industry Types
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lookup/FilingType">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Filing Types
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="lookup/LicenseType">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> License Types
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="swagger">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Swagger
            </NavLink>
        </div>
    </nav>
</div>